div{
    width: fit-content;
    padding: 20px;
    font-size: 50px;
    border-radius: 12px;
    margin: auto auto;
    background-color: black;
    color: chartreuse;
}
/* Copyrigth  © GezegenDigital